<body>
  
 <nav class="navbar navbar-dark bg navbar-full navbar-fixed-top" id="nav-main">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#startupNavbar">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="startupNavbar">
    <%= link_to "CODEAWAY", root_path, class: "nav-link navbar-brand" %>
    <ul class="nav navbar-nav pull-sm-right">
      <li class="nav-item nav-link">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
        <% if logged_in? %>  
          <li class="nav-item nav-link">
            <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
    </ul>
  </div>
</nav>

<section id="articles">
 <div class="col-lg-4 col-lg-offset-1">
  <h3>PORTFOLIO
  <small>LISTING ARTICLES</small></h3>
  <p>
    <% if logged_in? %>
      <%= link_to "Create new article", new_article_path %>
    <% end %>
</p>
 </div>
 <br>
   <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <hr>
      <div class="list-group">
         <%= render 'article', obj: @articles %>
      </div>
    </div>
    <br>
    <div class="col-lg-12">
      <div align="center">
            <%= will_paginate %>
      </div>
    </div>
  </div>
</section>
</body> 
